@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue : #4970FF;
    --dark : #283050;
    --grey : #FAFAFA;
    --white: #FFFFFF;
}

body {
    max-width: 1440px;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: var(--dark);
}

h4 {
    font-size: 33px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0.25px;
}

h5 {
    font-size: 23px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0;
}

h6 {
    font-size: 19px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.15px;
}

.sub1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.15px;
}

.sub2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.button {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1.25px;
}

.caption {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.4px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

li.sub2 a:hover{
    font-weight: 600;
    color: var(--blue)
}

button {
    padding: 8px 24px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 16px;
    border: 3px solid var(--blue);
}

button:hover {
    background-color: var(--white);
    color: var(--blue);
}

.grey {
    background-color: var(--grey);
}

.white {
    background-color: var(--white);
}

img {
    width: 100%;
    border-radius: 8px;
}

/* End of Default CSS */

.container {
    display: flex;
    padding: 64px 96px;
    align-items: stretch;
}

.column {
    gap: 32px;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
}

.bottom {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:24px;
}

.bottom-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-basis: 20%;
    gap: 16px;
}

.item-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bottom-form {
    justify-content: space-between;
}

.bottom-form input,textarea {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid var(--white)
}

.half {
    flex-basis: 45%;
}

.double {
    flex-basis: 100%;
}

.button-item {
    display: flex;
    justify-content: flex-end;
}

.row {
    gap: 64px;
    flex-direction: row;
    justify-content: space-between;
}

.row-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-basis: 70%;
    gap: 16px;
}

.row-subtext {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row-image {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-basis: 30%;
    gap: 16px;
}

.footer-left {
    flex-basis: 50%;
}

.footer-left img {
    width:25%;
}

.footer-right {
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    align-items: stretch;
}

.footer-right .footer-item {
    display: flex;
    flex-direction: column;
    flex-basis:75%;
    gap: 16px;
}

.footer-item ul {
    display: flex;
    flex-direction: column;
    gap:8px;
}

header.container {
    padding: 24px 96px;
}

header.container img {
    width:100%;
    max-width: 150px;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-right {
    display: flex;
    flex-direction: row;
    gap:32px;
    align-items: center;
}

.header-right ul{
    display: flex;
    flex-direction: row;
    gap: 24px;;
}

.header-shadow {
    display: none;
}

header{
    width: 100%;
    position:fixed;
    z-index:0;
    top:0;
}




